/* superhero-sec start here */

.main_heading h2 {
	font-family: "Brinnan-Regular";
	font-size: 60px !important;
}

.main_heading span {
	font-family: "Brinnan-Bold" !important;
}
section.superhero-sec {
	padding: 100px 0;
}

.advertising-box {
	display: flex;
	justify-content: space-between;
}

.advertising-box1 {
	display: flex;
	align-items: center;
	gap: 13px;
}

.advertise-info h5 {
	font-size: 18px;
	line-height: unset;
	margin: 0;
}

.advertise-info p {
	margin: 0;
	font-size: 12px;
}

.advertise-img img {
	width: 92px;
}

.superhero-text p {
	font-size: 14px !important;
}
/* superhero-sec end here */
/* mission-vission-sec start here */
section.mission-vission-sec {
	padding: 50px 0;
}
.misson-box h2 {
	color: white;
	font-size: 40px;
	line-height: unset;
	margin: 0;
}

.misson-box span {
	font-family: "Brinnan-Bold" !important;
}

.mission-heading-content h6 {
	line-height: unset;
	margin: 0;
}

.mission-heading-content {
	display: flex;
	justify-content: space-between;
}

.misson-box {
	padding: 25px 30px;
	background: #081a55;
	border-radius: 16px;
}

.mission-info p {
	color: white;
	font-size: 15px;
	margin: 0;
}
.banner-small-headings h6 {
	font-size: 15px;
}
/* mission-vission-sec end here */
/* about sec start here */
.about-content {
	padding-top: 112px;
}
/* about sec end here */
/* team sec start here */
.meet-our-team {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 30px 0px;
}

.person_one {
	width: 25%;
	position: relative;
}

section.team-sec {
	padding: 50px 0;
}
.teammate-name {
	background: #081a55;
	text-align: center;
	position: absolute;
	width: 100%;
	padding: 5px 0;
	bottom: 0;
	display: none;
	transform: translateY(100%);
	transition: 0.6s all;
}

.teammate-name h5 {
	color: #08a9e6;
	margin-bottom: 0;
	font-size: 20px !important;
	line-height: unset !important;
}

.teammate-name p {
	color: white;
	margin: 0;
	font-size: 13px;
}

.teammate-name:hover {
	transform: unset;
	display: block;
}
.meet-our-team {
	position: relative;
	width: 1160px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	transform-style: preserve-3d;
	perspective: 500px;
	margin: auto;
}
.meet-our-team .box {
	position: relative;
	width: 275px;
	height: 275px;
	/* background: #000; */
	transition: 0.5s;
	transform-style: preserve-3d;
	overflow: hidden;
	margin-right: 15px;
	margin-top: 45px;
}
.meet-our-team:hover .box {
	transform: rotateY(25deg);
}
.meet-our-team .box:hover ~ .box {
	transform: rotateY(-25deg);
}
.meet-our-team .box:hover {
	transform: rotateY(0deg) scale(1.25);
	z-index: 1;
}
.meet-our-team .box .imgBx {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.meet-our-team .box .imgBx:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, #08a9e6, rgba(0, 0, 0, 0));
	z-index: 1;
	opacity: 0;
	transition: 0.5s;
	mix-blend-mode: multiply;
}
.meet-our-team .box:hover .imgBx:before {
	opacity: 1;
}
.meet-our-team .box .imgBx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.meet-our-team .box .content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: flex;
	padding: 20px;
	align-items: flex-end;
	box-sizing: border-box;
}
.meet-our-team .box .content h2 {
	color: #fff;
	transition: 0.5s;
	text-transform: uppercase;
	margin-bottom: 5px;
	font-size: 20px;
	transform: translateY(200px);
	transition-delay: 0.3s;
}
.meet-our-team .box:hover .content h2 {
	transform: translateY(0px);
}
.meet-our-team .box .content p {
	color: #fff;
	transition: 0.5s;
	font-size: 14px;
	transform: translateY(200px);
	transition-delay: 0.4s;
}
.meet-our-team .box:hover .content p {
	transform: translateY(0px);
}
/* team sec end here */
