.card-wrapper {
    display: flex;
    background: #081a55;
    border-radius: 10px 10px 0px 0px;
    padding: 5px 20px;
    width: 90%;
    text-align: start;
    justify-content: space-between;
    align-items: center;
}
.paper-heading h5 {
    margin: 0;
    line-height: unset;
    font-size: 11px;
}

.extra-info h5 {
    margin: 0;
}

.extra-info h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.extra-info span {
    color: #fff;
    font-size: 11px;
    font-family: "Brinnan-Bold" !important;
}

.img-wrapper {
    position: relative;
}

.add-this {
    position: absolute;
    bottom: 0;
    right: 0;
}

.favorite {
    background: #08A9E6;
    padding: 5px 12px;
    border-radius: 6px;
}

.favorite span {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: white;
    font-size: 12px;
    padding: 0;
}
.main_heading h2 {
    font-size: 55px;
}

.banner-small-heading h6 {
    margin: 0;
}

section.customizable-products-sec {
    padding-top: 104px;
}

.product {
    padding-top: 20px;
}
.product span {
    font-family: "Brinnan-Bold" !important;
}