.all-cart-forms {
	background: #e7f4f9;
	position: relative;
}
.cart-heading h2 {
	font-size: 40px;
	margin-bottom: 30px;
}
.main_heading12 h2 {
	font-size: 40px;
	margin-bottom: 30px;
}
.main_heading12 h2 {
	font-size: 40px !important;
	margin-bottom: 30px;
}
.all-cart-form {
	display: flex;
	justify-content: center;
	background: #e7f4f9;
	padding: 43px 0;
}
.main_heading {
	padding: 10px 0;
}
.top-heading h5 {
	font-size: 14px;
	color: white;
	font-family: "Brinnan-Regular";
	margin: 0;
}

.top-heading {
	background: #081a55;
	width: 161px;
	border-bottom-right-radius: 12px;
	text-align: center;
	padding: 10px 0;
}
/* Checkout Css Start Here */
.checkout {
	padding-bottom: 60px;
	padding-top: 140px;
}
.checkout .container {
	padding: 60px 40px;
}

.form-group {
	margin: 7px 0;
}

.checkout label {
	font-size: 15px;
	font-weight: 500;
	color: #2a263d;
}

.product-price h2 {
	color: #081a55;
	font-size: 13px !important;
	font-family: "Poppins-Regular";
}

h5.name {
	color: #081a55;
	margin: 0;
	font-family: "Brinnan-Bold";
	font-size: 17px;
}

.product-price.main_heading span {
	color: #000000;
	font-family: "Poppins-Bold";
	font-weight: 700;
	font-size: 14px;
}
.sub-this .btn {
	width: 100%;
	border-radius: 34px;
	font-size: 13px;
	font-family: "Poppins-Light";
	padding: 8px 0;
}
.add-new-address .form-check {
	margin: 10px 0;
}
.sub-this {
	padding-top: 15px;
}

.payment-detail {
	padding-top: 17px;
	padding-right: 60px;
}

ul.variations li {
	color: #000000;
	font-family: "Poppins-Light";
	font-weight: 300;
	font-size: 13px;
}
ul.variations span {
	font-family: "Brinnan-Bold";
}

/*  */

.checkout .add-new-address {
	/* padding-top: 20px; */
	position: relative;
	padding: 0px 60px 0 0;
}
.checkout .add-new-address label.container {
	padding: 0 25px 20px;
	font-size: 15px;
	color: #262626;
	font-weight: 700;
}

/* .checkout .add-new-address label.container input {
    position: absolute;
    left: 0px;
    opacity: 0;
} */

.form-group label {
	font-size: 15px;
	color: #2a263d;
	margin-bottom: 7px;
}

.checkout .form-group .form-control {
	border-radius: 0;
	height: 42px;
	background: white;
	border-color: #70707059;
}

/* Saved Address Css End Here */
.ship-login {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.main_heading h2 {
	font-size: 22px;
}

.login a {
	text-decoration: none;
	color: #08a9e6;
	font-family: "Poppins-Regular";
	font-size: 15px;
}

.login span {
	font-family: "Poppins-Regular";
}

.order-total {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

/* Saved Payment Css Start Here */

.checkout .payment-detail .saved-payment-method h5 {
	padding-bottom: 20px;
	font-size: 15px;
	color: #262626;
}

/* .checkout .payment-detail .saved-payment-method label.container {
    padding: 0;
}

.checkout .payment-detail .saved-payment-method .add-new-method label.container {
    padding-left: 30px;
    font-size: 15px;
    color: #262626;
    font-weight: 700;
    padding-bottom: 15px;
} */

/* Saved Payment Css Start Here */

/* First Column Css End Here */

/* Second Column Css Start Here */
.checkout .second-top-bar .form-group {
	display: flex;
	align-items: flex-start;
}

/* .checkout .second-top-bar .form-group .form-control {
    border-radius: 0;
    border: 1px solid #b4b4b4;
    padding: 16px 20px;
    height: 53px;
} */

.checkout .second-top-bar .form-group .form-control::placeholder {
	color: #2a263d;
	font-family: "Montserrat";
	font-weight: 500;
}

.checkout .second-top-bar .form-group button {
	height: 53.6px;
	width: 50%;
	margin-left: 15px;
	background: #9f1d3c;
	color: #ffffff;
	font-size: 18px;
	font-weight: 500;
	cursor: pointer;
	border: 2px solid #fff;
	transition: 0.6s;
}
.checkout .cart-product-detail {
	/* border: 1px solid #b4b4b4; */
	padding: 10px 25px;
	position: relative;
	overflow: hidden;
	/* background: white; */
}
.checkout .cart-product-detail .checkout-products {
	height: 337px;
	overflow-y: scroll;
	padding: 10px 0px;
	overflow-x: hidden;
}

.checkout .cart-product-detail .checkout-products::-webkit-scrollbar {
	width: 0;
	background: transparent;
}

.checkout .cart-product-detail .products {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #70707073;
	padding: 18px 0;
	position: relative;
}

.all-price-detail {
	border-bottom: 1px solid #e7e6e5;
	margin-bottom: 10px;
}

.checkout .cart-product-detail .products .abt-product {
	display: flex;
	align-items: center;
}

.checkout .cart-product-detail .products .abt-product .pro-dtl {
	padding-left: 15px;
}

.checkout .cart-product-detail .products .abt-product .pro-dtl ul.variations {
	margin-bottom: 0;
	padding: 0;
	list-style: none;
	display: flex;
	align-items: center;
}

.checkout .cart-product-detail .products .img-box figure {
	margin-bottom: 0;
}

.checkout .cart-product-detail .pricing-details {
	padding-top: 40px;
}

.checkout .cart-product-detail .pricing-details .item-total h4.property {
	font-size: 17px;
	color: #000000;
	font-weight: 500;
	font-family: "Poppins", sans-serif;
	text-transform: uppercase;
	font-size: 14px;
}

.checkout .cart-product-detail .pricing-details .item-total h4.value {
	font-size: 15px;
	color: #081a55;
	font-family: "poppins-Bold";
}
.checkout .cart-product-detail .pricing-details .item-total {
	display: flex;
	align-items: center;
	/* justify-content: space-between; */
	padding: 5px 0;
	gap: 30px;
}

.checkout .cart-product-detail .pricing-details .item-total h4.property {
	font-size: 17px;
	color: #081a55;
	font-weight: 500;
	font-family: "poppins-Light";
	text-transform: capitalize;
	font-size: 14px;
	width: 110px;
}
.checkout .cart-product-detail .order-total h3.property {
	color: #0080ff;
	font-weight: 700;
	font-family: "Poppins", sans-serif;
	text-transform: uppercase;
	font-size: 16px;
}

.checkout .cart-product-detail .order-total h3.value {
	font-weight: 500;
	font-family: "Poppins", sans-serif;
	font-size: 17px;
}

/* Second Column Css End Here */
.checkout .border-last {
	background: #7070705c;
	padding: 0.5px;
	margin: 28px 0;
}

.checkout .confirm-orderDv {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.checkout .confirm-orderDv .checkbox {
	display: flex;
	align-items: center;
}
.checkout .confirm-orderDv .button-checkout a {
	width: 145px;
	border-radius: 25px;
	padding: 9px 0;
	cursor: pointer;
	background: #0080ff;
	text-decoration: none;
	color: #fff;
	font-size: 13px;
	/* text-transform: uppercase; */
	/* font-weight: 600; */
	border: 0;
	transition: 0.6s;
	/* border: 2px solid #fff; */
}
.checkout .confirm-orderDv .button-group button:hover {
	box-shadow: 0px 0px 0px 2px #1aac7a;
}

.add-new-method .form-check-input {
	top: 17px !important;
}

/* Checkout Css Start Here */
/* Media Query Start Here */
@media (max-width: 768px) {
	.checkout .confirm-orderDv .button-group button {
		width: 220px;
		padding: 12px 0px;
		font-size: 12px;
	}

	.checkout .payment-details .saved-payment-method .add-new-method {
		margin-bottom: 40px;
	}
}

@media (max-width: 575px) {
	.checkout .saved-address .select-address .address-detail {
		padding-left: 0px;
		margin-left: 0px;
		border-left: 0;
	}

	.checkout .saved-address .select-address .address-detail button.btn {
		position: unset;
	}

	.checkout .confirm-orderDv {
		display: block;
	}

	.checkout .confirm-orderDv .checkbox {
		margin-bottom: 20px;
	}

	.checkout .cart-product-detail {
		padding: 50px 20px;
	}
}

@media (max-width: 500px) {
	.checkout .saved-address .select-address .address-detail h5 span.value {
		font-size: 11px;
	}

	.checkout .saved-address .select-address .address-detail h5 span.property {
		font-size: 12px;
		font-weight: 500;
	}
}

.confirm-orderDv .form-control {
	width: auto !important;
}

.inner-anchor span {
	color: #ffffff;
}

.checkout .cart-product-detail .checkout-products::-webkit-scrollbar {
	width: 3px;
	height: 2em !important;
	background: transparent;
}

.checkout .cart-product-detail .checkout-products::-webkit-scrollbar-thumb {
	background: #0080ff;
	height: 30px !important;
}

.second-top-bar input.form-control.usd {
	background: #fff9f6;
	border: 0px !important;
	font-size: 24px;
	font-family: "GT Walsheim Pro regular";
	font-weight: bold;
	color: #9f1d3c;
	height: 59px;
	margin-top: 14px;
}

.abt-product .img-box img {
	background: transparent;
	padding: 4px;
	border-radius: 8px;
	/* height: 57px;
    width: 55px; */
	object-fit: cover;
}
.promocode {
	display: flex;
	gap: 10px;
}

section.checkout .btn {
	background: #08a9e6 !important;
	border-radius: 5px !important;
	border: 0;
	font-size: 13px;
	padding: 9px 27px;
}
.promo-code-box {
	border: 1px solid #cccccc;
	padding: 7px 25px;
}

.promo-code-box h5 {
	font-size: 20px;
}

.promo-code-box p {
	margin-bottom: 7px;
}

.promo-code-box {
	margin-top: 19px;
}
.form-check label {
	color: #636060;
	font-family: "Poppins-Regular";
	font-size: 14px;
}
.cart-img {
	position: absolute;
	top: -18px;
	right: -24px;
}
/* responsive starts here */
@media (max-width: 1366px) {
	.main_heading h2 {
		font-size: 18px;
	}

	.login span {
		font-size: 12px;
	}
	.login a {
		font-size: 12px;
	}
	.promo-code-box p {
		margin-bottom: 7px;
		font-size: 13px;
	}
	section.checkout .btn {
		font-size: 11px;
		padding: 10px 22px;
	}
	.main_heading12 h2 {
		font-size: 40px;
		margin-bottom: 30px;
	}
}
@media (max-width: 1024px) {
	.promocode input#inputcode2 {
		width: 149px;
	}

	section.checkout .btn {
		font-size: 10px;
		padding: 10px 17px;
	}
}
@media (max-width: 480px) {
	.checkout .container {
		padding: 60px 18px;
		margin: 20px;
	}
	.login span {
		font-size: 12px;
	}
	.login a {
		font-size: 12px;
	}
}

@media (max-width: 414px) {
	.checkout .cart-product-detail .products .product-price h4.price {
		margin-right: 10px;
	}

	.checkout .cart-product-detail .products .abt-product .pro-dtl h5.name {
		font-size: 13px;
	}
}

@media (max-width: 375px) {
	.checkout .cart-product-detail .products {
		flex-direction: column;
	}

	.product-price {
		margin-top: 20px;
		display: block;
	}
}

/* responsive ends here */

.cutom_radio_btn[type="radio"]:checked,
.cutom_radio_btn[type="radio"]:not(:checked) {
	position: absolute;
	left: -9999px;
}

.cutom_radio_btn[type="radio"]:checked + label span.custom_radio,
.cutom_radio_btn[type="radio"]:not(:checked) + label span.custom_radio {
	position: relative;
	padding-left: 0px;
	cursor: pointer;
	line-height: 20px;
	color: #000000;
	left: 20px;
	top: 16px;
}

.cutom_radio_btn[type="radio"]:checked + label span.custom_radio:before,
.cutom_radio_btn[type="radio"]:not(:checked) + label span.custom_radio:before {
	content: "";
	position: absolute;
	left: 1px;
	top: 0px;
	width: 19px;
	height: 19px;
	border: 1px solid #0d0d0d;
	border-radius: 100%;
	background: #fff;
}
.cutom_radio_btn[type="radio"]:checked + label span.custom_radio:after,
.cutom_radio_btn[type="radio"]:not(:checked) + label span.custom_radio:after {
	content: "";
	width: 11px;
	height: 11px;
	background: #f75414;
	position: absolute;
	top: 4px;
	left: 5px;
	border-radius: 100%;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.cutom_radio_btn[type="radio"]:not(:checked) + label span.custom_radio:after {
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}

.cutom_radio_btn[type="radio"]:checked + label span.custom_radio:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.main-row {
	margin-bottom: 1px;
	display: flex;
	align-items: center;
}

button.btn-radio {
	padding: 4px 15px;
	background: #e3dfdf;
	border: none;
	outline: none;
	margin-left: -40px;
}
button.btn-radio a {
	color: #0d0d0d;
	font-size: 15px;
	/* font-weight: 500; */
	/* font-family: "poppins"; */
	text-decoration: none;
	font-family: "Poppins-Regular";
}
.the_row.left-row {
	margin-left: 30px;
}

.address_complete_section
	.all_adresses
	.single_address
	.address_start
	.detail_information_information
	.custom_check_box
	.for_the_label
	span {
	color: #1f2c35;
	font-size: 13px;
	font-weight: 500;
}

.address_complete_section
	.all_adresses
	.single_address
	.address_start
	.detail_information_information
	.custom_check_box
	.for_the_label
	span:not(:last-child) {
	padding-right: 10px;
}

.address_complete_section
	.all_adresses
	.single_address
	.address_start
	.detail_information_information
	.custom_check_box
	.for_the_label {
	position: relative;
}

.cutom_radio_btn[type="radio"]:checked + label .address_start {
	padding: 10px 7px;
	border: 2px solid #282828;
	background-image: url(../img/tablearrow.webp);
	background-repeat: no-repeat;
	background-position: right bottom;
	background-origin: content-box;
}
.address_complete_section .all_adresses .add_new_address button.btn {
	text-transform: uppercase;
	padding: 11px 31px;
	font-size: 12px;
	letter-spacing: 1px;
	cursor: pointer;
}

.address_complete_section .all_adresses .add_new_address {
	padding-top: 23px;
}
.single_address label {
	display: flex;
	flex-direction: column;
}
.the_row {
	display: flex;
	flex-direction: column;
}
.img-wrapper img {
	margin: 4px 19px 8px 0px;
}
span.question {
	color: #000000;
	font-size: 11px;
	font-family: "poppins-regular";
	font-weight: 400;
}
span.answer {
	color: #656565;
	font-size: 18px;
	font-family: "poppins-semibold";
	font-weight: 600;
}
.delete {
	text-align: end;
	margin: 4px 10px 0 0;
}
.delete i {
	color: #ff0007;
	font-size: 22px;
}
.address_start {
	border: 2px solid #707070;
}

.address_start {
	border: 2px solid #707070;
	padding: 10px 0px;
	margin-bottom: 19px;
}
.radio-wrapper {
	/* margin: 40px 0px 99px 50px; */
}
h4.detail {
	font-family: "Poppins-medium";
	font-size: 20px;
	font-weight: 500;
	color: #000000;
}
.form-group12 label {
	position: relative;
	cursor: pointer;
}
.form-group12 label:before {
	content: "";
	-webkit-appearance: none;
	background-color: transparent;
	border: 2px solid #1f162b;
	padding: 7px;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	cursor: pointer;
	margin-right: 5px;
	margin-bottom: 5px;
	border-radius: 10px;
}
.form-group.check-wrapper {
	display: none;
}
.form-group12 input:checked + label:after {
	content: "";
	width: 8px;
	height: 8px;
	background: #f75414;
	position: absolute;
	top: 6px;
	left: 2px;
	left: 5px;
	border-radius: 100%;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.form-group12 input {
	padding: 0;
	height: initial;
	width: initial;
	margin-bottom: 0;
	display: none;
	cursor: pointer;
}

.form-group12 label {
	position: relative;
	cursor: pointer;
}
.form-group1 select#exampleFormControlSelect1 {
	height: 48px;
	background-image: url(../img/selectarrow.webp);
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-repeat: no-repeat;
	background-position: 451px;
	color: #d4d4d4;
	font-size: 15px;
	font-family: "visby-med";
}
.inputWithIcon1 input {
	width: 100%;
	border: 1px solid #b8afaf;
	border-radius: 4px;
	margin: 8px 0;
	outline: none;
	padding: 8px;
	box-sizing: border-box;
	transition: 0.3s;
	height: 47px;
}
.inputWithIcon1 input::placeholder {
	font-size: 14px;
	color: #cfccd2;
	font-family: "poppins";
	font-weight: 400;
}
.inputWithIcon1 input:focus {
	border-color: var(--first-color);
	box-shadow: 0 0 8px 0 var(--first-color);
}

.inputWithIcon1 input {
	padding-left: 17px;
}
.inputWithIcon1 {
	position: relative;
	margin: 0px 0 17px 0px;
}
.inputWithIcon1 i {
	position: absolute;
	left: 6px;
	top: 13px;
	padding: 9px 8px;
	color: var(--first-color);
	transition: 0.3s;
	font-size: 22px;
}
.inputWithIcon1 img {
	position: absolute;
	right: 6px;
	top: 14px;
	padding: 3px 6px;
	color: #aaa;
	transition: 0.3s;
	font-size: 22px;
	border: 2px solid #e8e8e8;
	border-radius: 6px;
}
.inputWithIcon1 input:focus + i {
	color: var(--first-color);
}

.inputWithIcon1 .inputIconBg i {
	background-color: #aaa;
	color: #fff;
	padding: 9px 4px;
	border-radius: 4px 0 0 4px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.img-wrapper1 img {
	position: absolute;
	right: 2px;
	top: 21px;
	padding: 3px 6px;
	color: #aaa;
	transition: 0.3s;
	font-size: 22px;
	border: none;
	border-radius: 6px;
}
.form-tabs.adderess-form h4 {
	border-top: 2px solid #d8d8d8;
	padding-top: 26px;
	font-size: 22px;
	font-family: "Poppins";
	font-weight: 700;
	color: var(--first-color);
	margin-bottom: 20px;
}
.form-group1 label {
	color: #1f162c;
	font-size: 15px;
	font-family: "poppins";
	font-weight: 400;
	margin: 0;
}

select#exampleFormControlSelect1::before {
	content: "\f078";
	font-family: "poppins";
	position: absolute;
	top: 0;
	right: -216px;
	width: 40%;
	height: 100%;
	text-align: center;
	font-size: 28px;
	line-height: 45px;
	color: rgba(255, 255, 255, 0.5);
	background-color: rgba(255, 255, 255, 0.1);
	pointer-events: none;
}
select#exampleFormControlSelect1 {
	border: none;
	outline: none;
	background: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 0;
	margin: 0;
	display: block;
	width: 100%;
	padding: 12px 55px 15px 15px;
	font-size: 14px;
	color: #714bb9;
}
.box {
	/* position: absolute; */
	/* left: 50%; */
	/* transform: translate(-50%, -50%); */
	top: 9px;
	position: relative;
}
.box select {
	background-color: #ffff;
	color: #cfccd2;
	padding: 7px 0px 7px 10px;
	width: 100%;
	border: none;
	font-size: 15px;
	/* box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2); */
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid #cfccd2;
	border-radius: 4px;
	height: 47px;
	font-family: "poppins";
	font-weight: 400;
}
.box::before {
	content: "\f078";
	font-family: "FontAwesome";
	position: absolute;
	top: 0;
	right: 0px;
	width: 16%;
	height: 100%;
	text-align: center;
	font-size: 16px;
	line-height: 45px;
	pointer-events: none;
	background: #f2f2f2;
	color: #000000;
}
.page-item.active .page-link {
	border-color: none !important;
	border: none;
}
.box select option {
	padding: 30px;
}
button.btn13 {
	padding: 7px 12px;
	border-radius: 0px;
	color: var(--first-color);
	font-size: 14px;
	font-family: "poppins";
	font-weight: 500;
	background-color: var(--first-color);
	color: #fff;
	border: none;
	height: 43px;
	width: 100%;
	cursor: pointer;
}
.box select:focus {
	border-color: var(--first-color);
	box-shadow: 0 0 8px 0 var(--first-color);
}
