section.profile-sec {
	padding: 90px 0;
}
section.profile-sec .nav-tabs .nav-link.active {
	font-family: "Brinnan-Bold";
	color: #ffffff;
	background-color: var(--first-color);
	padding: 10px 22px;
	border-radius: 10px 0px 0px 0px;
	transition: 1s all ease;
	background: #08a9e6;
	width: 171px;
	text-align: center;
}
section.profile-sec .nav-tabs {
	border-bottom: 1px solid #dce2e5;
	position: relative;
	text-align: end;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: end;
}
section.profile-sec .nav-tabs .nav-link {
	color: #081a55;
	padding: 10px 22px;
	border: none;
	font-size: 16px;
	font-family: "Brinnan-Bold";
	padding: 10px 30px;
	border-radius: 0;
	margin: 0;
	background-color: #def1f9;
	border-top: 1px solid #dce2e5;
	border-left: 1px solid #dce2e5;
	border-right: 1px solid #dce2e5;
	width: 171px;
}
#profile-tab[aria-selected="true"] {
	border-radius: 0px;
}
#contact-tab[aria-selected="true"] {
	border-radius: 0px;
}
#Payment-tab[aria-selected="true"] {
	border-radius: 0px 10px 0 0;
}
.upload-img {
	position: relative;
	text-align: center;
	top: -59px;
	width: 70%;
	margin: 0;
	right: -40px;
}
.main-profile-wrapper {
	/* background: #e3f2f9; */
	/* background: rgb(242,244,255); */
	/* background: radial-gradient(circle, rgba(242,244,255,1) 57%, rgba(218,238,248,1) 93%); */
	background: rgb(242, 244, 255);
	background: radial-gradient(
		circle,
		rgba(242, 244, 255, 1) 72%,
		rgba(218, 238, 248, 1) 100%
	);
}
.btn-profile {
	background: #08a9e6;
	border: 0;
	padding: 10px 50px;
	margin-right: 10px;
	margin-top: 0px;
	border-radius: 4px;
	font-size: 16px;
	color: #fff;
}
.btn-profile1 {
	padding: 10px 37px;
}
.upload-btn-wrapper h4 {
	font-family: "Brinnan-Bold";
	font-size: 25px;
	color: #081a55;
	text-transform: uppercase;
}
.first-name h5 {
	font-family: "Poppins-Bold";
	font-size: 16px;
	color: #081a55;
}
.first-name h6 {
	font-family: "Poppins-Regular";
	font-size: 15px;
	color: #081a55;
}
.password h5 {
	font-family: "Poppins-Bold";
	font-size: 16px;
	color: #081a55;
}
.password h6 {
	font-family: "Poppins-Regular";
	font-size: 15px;
	color: #081a55;
	line-height: 0.8;
}
.password h6 span a {
	font-family: "Poppins-Medium";
	font-size: 15px;
	color: #08a9e6;
	margin-left: 10px;
}
.upload-btn-wrapper {
	text-align: center;
}
.upload-btn-wrapper p {
	font-family: "poppins-regular";
	font-size: 15px;
	color: #000000;
}
.upload-btn-wrapper span {
	font-family: "Brinnan-Regular";
	font-size: 25px;
	color: #081a55;
}
.profile-icon i {
	background: #08a9e6;
	height: 22px;
	width: 22px;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	color: #fff;
	border: 1px solid #fff;
}
.profile-icon {
	position: absolute;
	top: 15px;
	right: 31px;
}
.btn-profile i {
	margin-left: 10px;
}
#Payment-tab {
	border-radius: 0 10px 0px 0px;
}
#home-tab {
	border-radius: 10px 0 0 0;
}
li.nav-item {
	text-align: center;
}
section.profile-sec .nav-tabs .nav-link:hover {
	margin: 0;
}
li.nav-item1 {
	position: absolute;
	right: 0;
	top: 2px;
}
li.nav-item1 a .btn {
	border: 1px solid var(--first-color);
	padding: 7px 28px;
	border-radius: 0px;
	color: var(--first-color);
	font-size: 16px;
	font-family: "poppins";
	font-weight: 500;
	width: 130px;
	height: 43px;
}
.edit {
	/* float: right; */
	/* text-align: end; */
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	margin-top: 40px;
	margin-right: 30px;
}
.btn1 {
	padding: 7px 12px;
	border-radius: 0px;
	color: var(--first-color);
	font-size: 14px;
	font-family: "poppins";
	font-weight: 500;
	background-color: var(--first-color);
	color: #fff;
	border: none;
	width: 130px;
	height: 43px;
}
.btn2 {
	padding: 11px 52px;
	color: var(--first-color);
	font-size: 14px;
	font-family: "poppins";
	font-weight: 500;
	background-color: var(--first-color);
	color: #fff;
	border: none;
	width: 125px;
	height: 43px;
}
.edit a:hover {
	color: #fff !important;
}
.main-wrapper {
	margin-top: 20px;
}
.field-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 60px 0px 0px 0px;
}
.top-wrapper {
	margin-top: 0px;
}
.main-wrapper {
	margin: 20px 0px 89px 50px;
	position: relative;
}
.main-wrapper-input {
	margin: 20px 0px 89px 50px;
	position: relative;
}
.field-wrapper h4 i {
	margin-right: 10px;
	color: var(--first-color);
}
.field-wrapper h4 {
	font-family: "poppins";
	font-weight: 400;
	font-size: 14px;
	color: #5e5e5e;
}
.field-wrapper1 {
	float: left;
}
.edit.edit-top {
	margin-top: 19px;
	position: absolute;
	right: 15px;
}
.field-wrapper1 h4 {
	font-family: "poppins";
	font-weight: 400;
	font-size: 17px;
	color: var(--first-color);
	text-align: start;
	margin-bottom: 10px;
}
.inputWithIcon input {
	width: 100%;
	border: 1px solid #b8afaf;
	border-radius: 4px;
	margin: 8px 0;
	outline: none;
	padding: 8px;
	box-sizing: border-box;
	transition: 0.3s;
	height: 52px;
}
.inputWithIcon input::placeholder {
	font-size: 14px;
	color: #cfccd2;
	font-family: "poppins";
	font-weight: 400;
}
.inputWithIcon input:focus {
	border-color: var(--first-color);
	box-shadow: 0 0 8px 0 var(--first-color);
}

.inputWithIcon input {
	padding-left: 37px;
}
.inputWithIcon {
	position: relative;
	margin: 0px 0 17px 0px;
}
.inputWithIcon i {
	position: absolute;
	left: 6px;
	top: 13px;
	padding: 9px 8px;
	color: var(--first-color);
	transition: 0.3s;
	font-size: 22px;
}
.inputWithIcon img {
	position: absolute;
	left: 6px;
	top: 18px;
	padding: 9px 8px;
	color: #aaa;
	transition: 0.3s;
	font-size: 22px;
}
.inputWithIcon input:focus + i {
	color: var(--first-color);
}

.inputWithIcon.inputIconBg i {
	background-color: #aaa;
	color: #fff;
	padding: 9px 4px;
	border-radius: 4px 0 0 4px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
	-moz-appearance: textfield; /* Firefox */
}

.inputWithIcon .icon-wrapper {
	position: absolute;
	left: 233px !important;
	top: 13px !important;
	padding: 9px 8px;
	color: var(--first-color);
	transition: 0.3s;
	font-size: 22px;
}
h4.change-p-heading {
	font-size: "poppins-regular";
	font-family: "poppins_r";
	font-size: 17px;
	text-align: start;
	margin: 10px 0;
	color: var(--first-color);
}
#newpost {
	display: none;
}
/* .table-wrapper .table tbody {
    border: 1px solid #C7C7C7;
    margin: 40px 40px ! important;
}
.table-wrapper .table tbody tr  {
    
} */
.table-wrapper .table thead tr th {
	border-bottom: none;
	border-top: none;
	text-align: center;
	padding: 14px 0px;
	font-size: 14px;
	font-weight: 400;
	font-family: "poppins";
	color: #cfccd2;
}
.table-wrapper .table tbody tr th {
	text-align: center;
	vertical-align: text-bottom;
	font-size: 14px;
	color: #343436;
	font-family: "poppins";
	font-weight: 400;
}

.table-wrapper .table tbody tr td {
	text-align: center;
	vertical-align: text-bottom;
	font-size: 16px;
	font-family: "poppins";
	color: #2a263d;
	border: none;
	font-weight: 400;
}
.table-wrapper .table tbody tr td span {
	margin-left: 6px;
	color: #1f2c35;
	font-size: 12px;
	font-weight: 500;
	font-family: "poppins";
	line-height: 1;
}
.table-wrapper .table thead {
	color: #cfccd2;
	background-color: #000000;
	border-radius: 0px;
	padding: 0 0;
}
.table-wrapper .table tbody tr {
	border: 1px solid #c7c7c7 !important;
	outline: 1px solid #c7c7c7;
}

table.table {
	border-collapse: separate;
	border-spacing: 0 15px;
	border-top: 10px;
	border-bottom: 10px;
}
.table-wrapper1 .table thead tr th {
	border-bottom: none;
	border-top: none;
	text-align: center;
	padding: 14px 30px;
	font-size: 14px;
	font-weight: 400;
	font-family: "poppins";
	color: #cfccd2;
}
td.pais-color1 {
	color: #f12548 !important;
}
.table-wrapper1 .table tbody tr td i.fa.fa-times {
	font-size: 23px;
	color: #1f162c;
}
.table-wrapper1 .table tbody tr th {
	text-align: center;
	vertical-align: text-bottom;
	font-size: 14px;
	color: #343436;
	font-family: "poppins";
	font-weight: 400;
}

.table-wrapper1 .table tbody tr td {
	text-align: center;
	vertical-align: text-bottom;
	font-size: 16px;
	font-family: "poppins";
	color: #2a263d;
	border: none;
	font-weight: 400;
}

.table-wrapper1 .table thead {
	color: #cfccd2;
	background-color: #000000;
	border-radius: 0px;
	padding: 0 0;
}
.table-wrapper1 .table tbody tr td span img {
	border: 1px solid #e1e1e1;
	width: 110px;
	padding: 10px 0px;
}
.table-wrapper1 .table tbody tr {
	border: 1px solid #c7c7c7 !important;
	outline: 1px solid #c7c7c7;
}

table.table {
	border-collapse: separate;
	border-spacing: 0 15px;
	border-top: 10px;
	border-bottom: 10px;
}
.pagination {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-left: 0;
	list-style: none;
	border-radius: 0.25rem;
	align-items: center;
	justify-content: center;
}
.pagination li.page-item {
	margin: 0px 8px;
}

.pagination .page-link {
	position: relative;
	display: block;
	padding: 11px 19px;
	margin-left: -1px;
	line-height: 1.25;
	color: #aaaaaa;
	background-color: #fff;
	border: 1px solid #dee2e6;
	border-radius: 6px;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
	font-size: 22px;
	font-family: "poppins";
	font-weight: 500;
}
.page-link:focus {
	border-color: var(--first-color);
	box-shadow: 0 0 5px 0 var(--first-color) !important;
}

.page-item:first-child .page-link {
	padding: 11px 26px !important;
	border-radius: 6px !important;
}
.page-item:last-child .page-link {
	padding: 11px 26px !important;
	border-radius: 6px !important;
}
a.page-link.pagelink-second span i {
	font-size: 25px;
}
a.page-link.active {
	background-color: var(--first-color);
	color: #fff;
	padding: 11px 21px;
}
.table-wrapper .table tbody tr :nth-child(4) {
	color: #00bc26;
}
.page-item.active .page-link {
	background-color: var(--first-color) !important;
	color: #fff !important;
	padding: 11px 21px !important;
}
/* custom radio btn */

.cutom_radio_btn[type="radio"]:checked,
.cutom_radio_btn[type="radio"]:not(:checked) {
	position: absolute;
	left: -9999px;
}

.cutom_radio_btn[type="radio"]:checked + label span.custom_radio,
.cutom_radio_btn[type="radio"]:not(:checked) + label span.custom_radio {
	position: relative;
	padding-left: 0px;
	cursor: pointer;
	line-height: 20px;
	color: #000000;
	left: 20px;
	top: 16px;
}

.cutom_radio_btn[type="radio"]:checked + label span.custom_radio:before,
.cutom_radio_btn[type="radio"]:not(:checked) + label span.custom_radio:before {
	content: "";
	position: absolute;
	left: 1px;
	top: 0px;
	width: 19px;
	height: 19px;
	border: 1px solid #0d0d0d;
	border-radius: 100%;
	background: #fff;
}
.cutom_radio_btn[type="radio"]:checked + label span.custom_radio:after,
.cutom_radio_btn[type="radio"]:not(:checked) + label span.custom_radio:after {
	content: "";
	width: 10px;
	height: 10px;
	background: #68482a;
	position: absolute;
	top: 5px;
	left: 5px;
	border-radius: 100%;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.cutom_radio_btn[type="radio"]:not(:checked) + label span.custom_radio:after {
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}

.cutom_radio_btn[type="radio"]:checked + label span.custom_radio:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.main-row {
	margin-bottom: 1px;
	display: flex;
	align-items: center;
}

button.btn-radio {
	padding: 4px 24px;
	background: #e3dfdf;
	border: none;
	outline: none;
	margin-left: -9px;
}
button.btn-radio a {
	color: #0d0d0d;
	font-size: 15px;
	font-weight: 500;
	font-family: "poppins";
	text-decoration: none;
}

.the_row.left-row {
	margin-left: 30px;
}

.address_complete_section
	.all_adresses
	.single_address
	.address_start
	.detail_information_information
	.custom_check_box
	.for_the_label
	span {
	color: #1f2c35;
	font-size: 13px;
	font-weight: 500;
}

.address_complete_section
	.all_adresses
	.single_address
	.address_start
	.detail_information_information
	.custom_check_box
	.for_the_label
	span:not(:last-child) {
	padding-right: 10px;
}

.address_complete_section
	.all_adresses
	.single_address
	.address_start
	.detail_information_information
	.custom_check_box
	.for_the_label {
	position: relative;
}

.cutom_radio_btn[type="radio"]:checked + label .address_start {
	padding: 10px 0px;
	border: 2px solid #282828;
	background-image: url(../img/tablearrow.webp);
	background-repeat: no-repeat;
	background-position: right;
	background-position: 761px 41px;
}
.address_complete_section .all_adresses .add_new_address button.btn {
	text-transform: uppercase;
	padding: 11px 31px;
	font-size: 12px;
	letter-spacing: 1px;
	cursor: pointer;
}

.address_complete_section .all_adresses .add_new_address {
	padding-top: 23px;
}
.single_address label {
	display: flex;
	flex-direction: column;
}
.the_row {
	display: flex;
	flex-direction: column;
}
.img-wrapper img {
	margin: 4px 19px 8px 0px;
}
span.question {
	color: #000000;
	font-size: 9px;
	font-family: "poppins";
	font-weight: 400;
}
span.answer {
	color: #656565;
	font-size: 18px;
	font-family: "poppins";
	font-weight: 600;
}
.delete {
	text-align: end;
	margin: 4px 10px 0 0;
}
.delete i {
	color: #ff0007;
	font-size: 22px;
}
.address_start {
	border: 2px solid #707070;
}

.address_start {
	border: 2px solid #707070;
	padding: 10px 0px;
	margin-bottom: 19px;
}
.radio-wrapper {
	margin: 40px 0px 99px 50px;
}
h4.detail {
	font-family: "Poppins";
	font-size: 20px;
	font-weight: 500;
	color: #000000;
}
.form-group12 label {
	position: relative;
	cursor: pointer;
}
.form-group12 label:before {
	content: "";
	-webkit-appearance: none;
	background-color: transparent;
	border: 2px solid #1f162b;
	padding: 7px;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	cursor: pointer;
	margin-right: 5px;
	margin-bottom: 5px;
	border-radius: 10px;
}
.form-group.check-wrapper {
	display: none;
}
.form-group12 input:checked + label:after {
	content: "";
	width: 9px;
	height: 9px;
	background: #68482a;
	position: absolute;
	top: 5px;
	left: 2px;
	left: 4px;
	border-radius: 100%;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.form-group12 input {
	padding: 0;
	height: initial;
	width: initial;
	margin-bottom: 0;
	display: none;
	cursor: pointer;
}

.form-group12 label {
	position: relative;
	cursor: pointer;
}
.form-group1 select#exampleFormControlSelect1 {
	height: 48px;
	background-image: url(../img/selectarrow.webp);
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-repeat: no-repeat;
	background-position: 451px;
	color: #d4d4d4;
	font-size: 15px;
	font-family: "visby-med";
}
.inputWithIcon1 input {
	width: 100%;
	border: 1px solid #b8afaf;
	border-radius: 4px;
	margin: 8px 0;
	outline: none;
	padding: 8px;
	box-sizing: border-box;
	transition: 0.3s;
	height: 47px;
}
.inputWithIcon1 input::placeholder {
	font-size: 14px;
	color: #cfccd2;
	font-family: "poppins";
	font-weight: 400;
}
.inputWithIcon1 input:focus {
	border-color: var(--first-color);
	box-shadow: 0 0 8px 0 var(--first-color);
}

.inputWithIcon1 input {
	padding-left: 17px;
}
.inputWithIcon1 {
	position: relative;
	margin: 0px 0 17px 0px;
}
.inputWithIcon1 i {
	position: absolute;
	left: 6px;
	top: 13px;
	padding: 9px 8px;
	color: var(--first-color);
	transition: 0.3s;
	font-size: 22px;
}
.inputWithIcon1 img {
	position: absolute;
	right: 6px;
	top: 14px;
	padding: 3px 6px;
	color: #aaa;
	transition: 0.3s;
	font-size: 22px;
	border: 2px solid #e8e8e8;
	border-radius: 6px;
}
.inputWithIcon1 input:focus + i {
	color: var(--first-color);
}

.inputWithIcon1 .inputIconBg i {
	background-color: #aaa;
	color: #fff;
	padding: 9px 4px;
	border-radius: 4px 0 0 4px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.img-wrapper1 img {
	position: absolute;
	right: 2px;
	top: 21px;
	padding: 3px 6px;
	color: #aaa;
	transition: 0.3s;
	font-size: 22px;
	border: none;
	border-radius: 6px;
}
.form-tabs.adderess-form h4 {
	border-top: 2px solid #d8d8d8;
	padding-top: 26px;
	font-size: 22px;
	font-family: "Poppins";
	font-weight: 700;
	color: var(--first-color);
	margin-bottom: 20px;
}
.form-group1 label {
	color: #1f162c;
	font-size: 15px;
	font-family: "poppins";
	font-weight: 400;
	margin: 0;
}

select#exampleFormControlSelect1::before {
	content: "\f078";
	font-family: "poppins";
	position: absolute;
	top: 0;
	right: -216px;
	width: 40%;
	height: 100%;
	text-align: center;
	font-size: 28px;
	line-height: 45px;
	color: rgba(255, 255, 255, 0.5);
	background-color: rgba(255, 255, 255, 0.1);
	pointer-events: none;
}
select#exampleFormControlSelect1 {
	border: none;
	outline: none;
	background: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 0;
	margin: 0;
	display: block;
	width: 100%;
	padding: 12px 55px 15px 15px;
	font-size: 14px;
	color: #714bb9;
}
.box {
	/* position: absolute; */
	/* left: 50%; */
	/* transform: translate(-50%, -50%); */
	top: 9px;
	position: relative;
}
.box select {
	background-color: #ffff;
	color: #cfccd2;
	padding: 7px 0px 7px 10px;
	width: 100%;
	border: none;
	font-size: 15px;
	/* box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2); */
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid #cfccd2;
	border-radius: 4px;
	height: 47px;
	font-family: "poppins";
	font-weight: 400;
}
.box::before {
	content: "\f078";
	font-family: "FontAwesome";
	position: absolute;
	top: 0;
	right: 0px;
	width: 16%;
	height: 100%;
	text-align: center;
	font-size: 16px;
	line-height: 45px;
	pointer-events: none;
	background: #f2f2f2;
	color: #000000;
}
.page-item.active .page-link {
	border-color: none !important;
	border: none;
}
.box select option {
	padding: 30px;
}
button.btn13 {
	padding: 7px 12px;
	border-radius: 0px;
	color: var(--first-color);
	font-size: 14px;
	font-family: "poppins";
	font-weight: 500;
	background-color: var(--first-color);
	color: #fff;
	border: none;
	height: 43px;
	width: 100%;
	cursor: pointer;
}
.box select:focus {
	border-color: var(--first-color);
	box-shadow: 0 0 8px 0 var(--first-color);
}
